ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #FFFFFF;
}
#name{
    position: relative;
    padding-left: 50px;
    padding-top: 150px;
}
.skill-set{
  text-align: center;
}
.education {
  text-align: center;
}
.education li{
  margin: 0;
  padding-left: 50px;
  float: left;
  text-decoration: inherit;
}
.hobies h3{
  text-align: center;
}
#para-float{
  float: left;
}
#contact-me{
  font-style:italic;
  font-family: fantasy;
}
