ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #FFFFFF;
}
#name{
    position: fixed;
    margin-left: 0px;
    margin-top: 0px;
}
#full-names{
  display:inline-block;
  margin-left: 25%;
  margin-top: 12%;
}
#h1-name{
  font-family: 'Lobster', cursive;
}
.skill-set{
  text-align: center;
}
.education {
  text-align: center;
}
.education li{
  margin: 0;
  padding-left: 50px;
  float: left;
  text-decoration: inherit;
}
.hobies h3{
  text-align: center;
}
#para-float{
  float: left;
}
#contact-me{
  font-style:italic;
  font-family: fantasy;
}
#customized-menu{
  position: fixed;
  top:15%;
  left: 65%;
 /* border: solid red 2px;*/
  width:28%;
  display: inline-block;
}
.card{
  width: 100px;
  height: 100px;
  display: inline-block;
  border-radius: 15%;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  padding-top: 2%;
  opacity: 0.5;
  margin-top: 4px;
}

#full-names{
  display: none;
}

/*This section is for icon hover effects*/
#icon-effect-1a .icon:hover {
    background-color: @white-color;
    color: @main-color;
}

#icon-effect-1a .icon:hover:after {
    .transition-scale(1); // mixins
    opacity: 1;
}

/*This section hides the header one sliders*/
#slide-header{
  display: none;
  color:#328284;
  font-family: 'Lobster', cursive;
}
#slide-header1{
  display: none;
  color:#ffffff;
}
#slide-header2{
  /*display: none;*/
  color:#ffffff;
}
#slide-header3{
  display: none;
  color:#ffffff;
}
#slide-paragraphs{
  display: none;
}
#contact-me-h1{
  color:#328284;
}
#contact-me-h2{
  color:#000000;
  font-family: 'Lobster', cursive;
}
#white-font{
  color: #ffffff;
}